* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-color: #033a3d;
}

body {
    font-family: Rockwell;
    background-color: #6b9294;
}
/* header styling */

header {
    background-color: #202000;
    padding-right: 7px;
}
header h1 {
    color: #6b9294;
    font-size: 35px;
    font-weight: 200;
    padding-top: 10px;
    margin-top: 10px;
    margin-left: 10px;
}
nav ul a {
   float: right;
   font-size: 25px;
   color:#6b9294;
   justify-content: space-between;
   padding-right: 60px;
   display: inline;
}

.my-bio p {
    float: right;
    padding-top: 157px;
    padding-right: 477px;
    font-weight: 160;
    font-size: 17px;
}
.primary-title {
    float: right;
    margin-left: 55px;
    padding-right: 97px;
    font-size: 25px;
}
.my-bio {
    background-color:rgb(241, 177, 93);
    padding-left: 200px;
}
#selfie
{
    border-radius: 8px 8px 8px 8px;
    border-style: ridge;
    border-width: 8px;
    border-color: #006666;
}
.social-media {
    background-color: #006666;
    text-align: center;
    font-size: 25px;
    color: #202000;
}
.social-media h3 {
    font-size: 41px;
    font-weight: 260;
    justify-content: center;
    padding-left: 88px;
    padding-right: 47px;
    color: #202000;
    text-align: right;
}
.social-media ul {
    font-size: 31px;
    font-weight: 230;
    justify-content: center;
    padding-left: 58px;
    padding-right: 507px;
    color: #202000;
    text-align: right;
}
.hero {
    background-color:#6b9294;
    box-sizing: border-box;
    padding-left: 23px;
    margin-left: 100px;
    padding-bottom: 50px;
}
.hero form {
    background-image: url('IMG_4751.jpg');
    height: 383px;
    width: 457px;
    background-size: cover;
    background-position: center;
    border-style: solid;
    border-color: #202000;
    padding-top: 45px;
}
.form-input {
    border: 5px solid #202000;
    margin-top: 17px;
    padding: 9px 9px 9px 9px;
    color: #006666;
    width: 87%;
    margin-left: 9px;
    justify-content: space-around;
}
.hero-form button {
    background-color:#6b9294;
    border: 1.5px;
    font-size: 23px;
    font-weight: 170;
}
.button {
    background-color: #2d6275;
    border-style: solid 8px;
    border-color: #ac8613;
    font-size: 23px;
    color: #202000;
    font-weight: 160;
    padding-left: 4px;
    padding-right: 4px;
  }

footer {
    background: #202000;
    width: 100%;
    padding: 30px 35px;
    line-height: 1.7;
    text-align: center;
}
footer h4 
{
    display: block;
    color:#ac8613;
    font-size; 30px;
    margin: 0;
}
