* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-color: #033a3d;
}

body {
    font-family: Rockwell;
    margin: 0;
    background-color: antiquewhite;
}
/* header styling */

header {
        background-color: #2d6275;
}
#desert-flower {
    color: #006666;
    padding-right: 3px; 
    border-radius: 8px 8px 8px 8px;
    border-style: ridge;
    border-width: 5px;
    border-color: #006666;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    margin-right: 700px;
    
}
header h1 {
    color: #6b9294;
    text-align: right;
    padding-right: 100px;
    height: auto;
}
#About-me {
    align-content:flex-end;
    padding-right: 30px;
}
#Work-portfolio {
    padding-left: 900px;
}
#Contact-info {
    float: left;
}
nav ul li {
    padding-top: 11px;
    justify-content: center;
}
nav ul a {
   font-size: 25px;
   color:#6f8283;
   padding-left: 200px;
   background-color:#e08912;
   padding-right: 7px;
   list-style-type: none;
   margin: 0;
   padding: 0;
   padding-left: 10px;
   width: 11%;
   position: fixed;
   height: 100%;
   overflow: auto;
   justify-content: space-between;
   text-align: center;
   justify-content: space-around;
}
nav video {
    color: #006666;
    padding-right: 3px; 
    border-radius: 8px 8px 8px 8px;
    border-style: ridge;
    border-width: 5px;
    border-color: #006666;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    position: fixed;
    justify-content: auto;
}
.navBar
{
    width: 100%;
    background-color: #202000;
}
.about-me {
    width: 970px;
}
.my-bio p {
    float: right;
    padding-top: 157px;
    padding-right: 50px;
    font-weight: 160;
    font-size: 17px;
}
.primary-title {
    float: right;
    margin-left: 55px;
    padding-right: 97px;
    font-size: 25px;
}
.my-bio {
    background-color:rgb(241, 177, 93);
    padding-left: 200px;
}
#selfie
{
    border-radius: 8px 8px 8px 8px;
    border-style: ridge;
    border-width: 8px;
    border-color: #006666;
}
.portfolio {
    background-color: #006666;
}
.portfolio video {
    padding-right: 300px;
    justify-content: auto;
}
#portfolio
{
    font-size: 25px;
    padding-right: 3px; 
    border-radius: 8px 8px 8px 8px;
    border-style: ridge;
    border-width: 5px;
    border-color: #006666;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    margin-left: 1200px;
    margin-right: 40px;
    background-color: #006666;
}
.social-media {
    text-align: center;
    font-size: 25px;
    color: #202000;
    background-color: #5b5768;
}
.social-media a {
    text-align: center;
    font-size: 25px;
    color: #202000;
}
.social-media h3 {
    font-size: 41px;
    font-weight: 260;
    justify-content: center;
    padding-left: 88px;
    padding-right: 47px;
    color: #202000;
    text-align: right;
}
.social-media ul {
    font-size: 31px;
    font-weight: 230;
    justify-content: center;
    padding-left: 58px;
    padding-right: 507px;
    color: #202000;
    text-align: right;
}
#say-hi {
    background-color:#6b9294;
    box-sizing: border-box;
    padding-left: 23px;
    margin-left: 100px;
    padding-bottom: 50px;
    font-weight: 300;
}
.hero-form {
    background-image: url('IMG_4751.jpg');
    height: 383px;
    width: 457px;
    background-size: cover;
    background-position: center;
    border-style: solid;
    border-color: #202000;
    padding-top: 45px;
    font-weight: 300;
    margin-left: 147px;
}
.form-input {
    border: 5px solid #202000;
    margin-top: 17px;
    padding: 9px 9px 9px 9px;
    color: #006666;
    width: 87%;
    margin-left: 9px;
    justify-content: space-around;
}
.hero-form button {
    background-color:#6b9294;
    border: 1.5px;
    font-size: 23px;
    font-weight: 170;
}
.button {
    background-color: #2d6275;
    border-style: solid 8px;
    border-color: #ac8613;
    font-size: 23px;
    color: #202000;
    font-weight: 160;
    padding-left: 4px;
    padding-right: 4px;
  }

footer {
    background: #202000;
    width: 100%;
    padding: 30px 35px;
    line-height: 1.7;
    text-align: center;
}
footer h4 
{
    display: block;
    color:#ac8613;
    font-size; 30px;
    margin: 0;
}
@media * and (max-width: 780px) {
    footer h4
    {

    }
    #selfie {
        
    }   
}
/* simple example of how to apply a media query style to a targeted class 
@media screen and (max-width: 780px) {
    * {
        color: pink;
    }
} */