* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-color: #6b9294;
}

body {
    font-color: #6b9294;
    font-family: Rockwell;
}
/* header styling */
header {
    padding: 23px 37px;
    background-color: #202000;
}
header h1 {
    font-size: 39px;
    font-weight: lighter;
    color: #6b9294;
   
}
header a {
    text-decoration: double;
    color: #6b9294
}
header p {
    text-align: center;
    font-size: 21px;
    font-weight: 1230;
}
header nav {
    margin: 7px 4;
    flex-wrap: wrap;
}
header nav ul li a {
    margin: 3 28px;
    font-size: 17px;
}
h2 {
    font-color:#6b9294;
}
.primary-title {
    font-color:#6b9294;
}
.my-bio {
    background-color: antiquewhite;
}
#selfie
{
    border-radius: 8px;
    padding-left: 13px;
}

.hero {
    background-color:#6b9294;
    font-weight: 160;
    box-sizing: border-box;
}
.hero.form {
    background-image: url('IMG_4751.jpg');
    height: 405px;
    width: 447px;
    background-size: cover;
    background-position: center;
    padding-left: 77;
    border-style: solid;
    border-color: #202000;
}
h3 { font-size: 21px;
    font-weight: 160;
}
.form-input {
    border: 7px solid #202000;
    padding: 13px 13px 13px 13px;
    font-size: 13px;
    color: #006666;
    width: 89%;
    margin-bottom: 7px;
    margin-left: 3px;
    font-weight: 217;
    justify-content: flex-start;
}
.hero-form button {
    color:#ac8613;
    background-color:#6b9294;
    border: 1.5px;
    border-spacing: 15px;
    border-color: #202000;
    padding: 15px 15px;
    font-size: 23px;
    font-weight: 170;
}
#contact-info.contact {
    background-color: #6b9294;
}
.button {
    background-color: #2d6275;
    border: 8px;
    border-color: #ac8613;
    color: #202000
    text-align: center;
    text-decoration: ellipse;
    font-size: 18px;
    font-weight: 150;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 3px;
  }

footer {
    background: #202000;
    width: 100%;
    padding: 40px 35px;
    line-height: 1.7;
    text-align: center;
}
footer h4 
{
    display: block;
    color:#ac8613;
    font-size; 30px;
    margin: 0;
}
ul {
    position: bottom;
    top: 0;
    width: 100%;
    font-size: 40px;
    color: #6b9294;
    text-align: horizontal;
  }